*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.backimage{
  background-position: center;
  background-size: cover;
  widows: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(images/CscanImage.jpg);
}
.fcfs_title{
  position: relative;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 5%;
  color: white;
}
.diskvideo{
  margin-top: 50px;
  width: 35%;
  -webkit-box-shadow: 7px 6px 22px 2px rgb(0 0 0 / 45%);
}
.container1{
  position: absolute;
  display: flex;
  margin-top: 150px;
  margin-left: 150px;
}
.titlebig1{
  font-size: 36px;
}
.text1{
  font-size: 16px;
  margin-top: 0px;
  margin-left: 100px;
  font-family: 'Oswald', sans-serif;
}
.container2{
  position: absolute;
  display: flex;
  margin-top: 800px;
  margin-left: 40px;
}
.image2{
  margin-left: 500px;
  margin-bottom: 100px;
  margin-top: 1230px;
}
.titlebig2{
  font-size: 40px;
}
.text2{
  font-size: 24px;
  margin-top: 50px;
  margin-left: 100px;
  font-family: 'Oswald', sans-serif;
}
a {
  text-decoration:none;
  color:#FFF;
}
.rainbow-button {
  width:calc(10vw + 6px);
  height:calc(4vw + 6px);
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display: flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:2vw;
  font-weight:bold;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-left: 685px;
}
.rainbow-button:after {
  content:attr(alt);
  width:10vw;
  height:4vw;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
nav{
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: #25274D;
    font-family: 'Oswald', sans-serif;
    /* box-shadow: 0px 4px 8px #25274D; */
}
.logo{
    color: rgb(226,226,226);
    vertical-align: middle;
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
#logo-pic{
    margin-right: 10px;
}
.main{
    list-style: none;
    margin-top: 10px;
}
.main a{
    text-decoration: none;
    vertical-align: middle;
    align-content: center;
    color: rgb(226,226,226);
}
.main{
    display: inline-block;
    position: relative;
    color: rgb(226,226,226);
}
.main:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(226,226,226);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.main:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-links li{
    list-style: none;
}
.nav-links{
    display: flex;
    margin-left: 100px;
    /* margin-top: 25px; */
    justify-content: space-around;
    width: 20%;
}
.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
}
.li1{
    display: flex;
    position: relative;
    /* vertical-align: middle; */
    /* align-content: center; */
    margin-top: 0px;
    margin-left: 15px;
    color: rgb(226,226,226);
}
.li1:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    /* margin-top: 100px; */
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(226,226,226);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.li1:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dropdown {
    white-space: nowrap;
}

.dropdown {
  position: absolute;
  transition-duration: 0.5s;
}

.dropdown.li a {
  color: #fff;
}
.dropdown.li:hover {
  background: #00688B;
  cursor: pointer;
}
.dropdown.li:hover:active{
    color: darkgreen;

}
ul li ul {
  background: #25274D;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 2.8rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 200%;
}
.li2{
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(226,226,226);
}
.li2:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(226,226,226);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.li2:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.dropdown-toggle::after{
    display: flex;
    margin-left: 8.5em;
    /* margin-bottom: 10px; */
    vertical-align: center;
    content: "";
    border-top: 0.5em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.li3{
    display: flex;
    position: relative;
    margin-left: 30px;
    color: rgb(226,226,226);
}
.li3:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(226,226,226);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.li3:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.li4{
    display: flex;
    position: relative;
    margin-left: 30px;
    color: rgb(226,226,226);
}
.li4:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(226,226,226);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.li4:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.search-box{
    position: absolute;
    margin-top: 20px;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 40px;
    border-radius: 40px;
/*    padding: 0px;*/
}

.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
    margin-left: 3px;
}

.search-box:hover > .search-btn{
    background: #805c7d;
}

.search-btn{
    color: #f4b41a;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #805c7d;
    display: flex;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    font-family: 'Oswald', sans-serif;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #25274D;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
